<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
    namespace="com.portal.a.common.domain.repository.EmployeeExpMapper">
    <!-- マッピング定義 -->
    <resultMap type="com.portal.a.common.domain.model.Employee" id="employee">
        <id column="employee_id" property="employee_id" />
        <result column="employee_cd" property="employee_cd" />
        <result column="employee_name1_last" property="employee_name1_last" />
        <result column="employee_name1_first" property="employee_name1_first" />
        <result column="employee_name2_last" property="employee_name2_last" />
        <result column="employee_name2_first" property="employee_name2_first" />
        <result column="gender_kbn" property="gender_kbn" />
        <result column="postcode" property="postcode" />
        <result column="prefcode" property="prefcode" />
        <result column="pref_name1" property="pref_name1" />
        <result column="pref_name2" property="pref_name2" />
        <result column="citycode" property="citycode" />
        <result column="city_name1" property="city_name1" />
        <result column="city_name2" property="city_name2" />
        <result column="streetaddress1" property="streetaddress1" />
        <result column="streetaddress2" property="streetaddress2" />
        <result column="birthday" property="birthday" />
        <result column="nearest_station_code" property="nearest_station_code" />
        <result column="nearest_station_name" property="nearest_station_name" />
        <result column="mail" property="mail" />
        <result column="joined_date" property="joined_date" />
        <result column="leave_date" property="leave_date" />
        <result column="employeeattribute_id" property="employeeattribute_id" />
        <result column="employeeattribute_name" property="employeeattribute_name" />
        <result column="biko" property="biko" />
    </resultMap>
    
    <!-- 社員CDで条件検索 -->
    <select id="selectBy" parameterType="string" resultMap="employee">
        select
           a.employee_id
          ,a.employee_cd
          ,a.employee_name1_last
          ,a.employee_name1_first
          ,a.employee_name2_last
          ,a.employee_name2_first
          ,a.gender_kbn
          ,a.postcode
          ,a.prefcode
          ,a.pref_name1
          ,a.pref_name2
          ,a.citycode
          ,a.city_name1
          ,a.city_name2
          ,a.streetaddress1
          ,a.streetaddress2
          ,a.birthday
          ,a.nearest_station_code
          ,a.nearest_station_name
          ,a.mail
          ,a.joined_date
          ,a.leave_date
          ,a.employeeattribute_id
          ,b.employeeattribute_name as employeeattribute_name
          ,a.biko
        from
          am005_employee a
          left join am008_employeeattribute b
            on a.employeeattribute_id = b.employeeattribute_id
        where a.employee_cd         like CONCAT('%' , #{employee_cd}  , '%')
          and a.employee_name1_last like CONCAT('%' , #{employee_name1_last} , '%')
          and a.mail                like CONCAT('%' , #{mail} , '%')
          and COALESCE(a.biko,'')   like CONCAT('%' , #{biko} , '%')
        <if test="leave_flg == null">
          and a.leave_date is null
        </if>
        order by
          a.employee_cd
    </select>
</mapper>