<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>EmpList</title>  
</head>
<body>
	<div th:fragment="empList_contents">
		<div class="page-header">
			<h3>社員マスタ一覧</h3>
		</div>
        <div class="container-fluid border bg-light">
            <form method="post" th:action="@{/empList}"
                th:object="${selectEmployeeForm}" id="reset-area">
                <div class="row">
                    <div class="col-sm-2">
                        社員CD<input type="search" class="form-control reset-field"
                            autofocus th:field="*{employee_cd}" />
                    </div>
                    <div class="col-sm-2">
                        社員名漢字（姓）<input type="search" class="form-control reset-field"
                            th:field="*{employee_name1_last}" />
                    </div>
                    <div class="col-sm-2">
                        メールアドレス<input type="search" class="form-control reset-field"
                            th:field="*{mail}" />
                    </div>
                    <div class="col-sm-2">
                        備考<input type="search" class="form-control reset-field"
                            th:field="*{biko}" />
                    </div>
                    <div class="col-sm-2">退職者も表示する
                        <div class="form-check">
                            <input type="checkbox"
                                class="form-check-input reset-checkbox"
                                th:field="*{leave_flg}"> <label
                                class="form-check-label"></label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="float-right">
                            <!-- 検索条件のクリア処理 -->
                            <button type="button" id="resetBtn"
                                name="resetBtn"
                                class="btn btn-primary btn-lg">クリア</button>
                            <!-- 検索実行 -->
                            <button type="submit" name="selectby"
                                class="btn btn-primary btn-lg">検索</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <!-- CSV出力用のリンク -->
            <a class="btn btn-primary" th:href="@{'/empList/csv'}">CSV出力</a>
            <!-- EXCEL出力用のリンク -->
            <a class="btn btn-primary" th:href="@{'/empList/excel'}">EXCEL出力</a>
            <!-- 社員登録画面へのリンク -->
            <a class="btn btn-danger float-right"
                th:href="@{'/empUpdate'}"
                sec:authorize="hasRole('ADMIN')">新規登録</a>
        </div>
        <!-- 社員一覧の件数 -->
            <label th:text=" '合計：' + ${empListCount} + '件' "></label>
            <!-- 更新・削除処理の結果表示用 -->
            <label class="text-danger" th:text="${result}">結果表示</label><br />
        <div class="table-responsive">
            <table
				class="table table-bordered table-hover table-striped table-sm">

				<thead>
					<tr class="table-info">
						<th scope="col"></th>
						<th scope="col"><p class="text-nowrap text-center">社員CD</p></th>
						<th scope="col"><p class="text-nowrap text-center">社員名（姓）</p></th>
						<th scope="col"><p class="text-nowrap text-center">社員名（名）</p></th>
                        <th scope="col"><p class="text-nowrap text-center">組織</p></th>
                        <th scope="col"><p class="text-nowrap text-center">社員属性</p></th>
                        <th scope="col"><p class="text-nowrap text-center">メールアドレス</p></th>
                        <th scope="col"><p class="text-nowrap text-center">性別</p></th>
                        <th scope="col"><p class="text-nowrap text-center">入社日</p></th>
                        <th scope="col"><p class="text-nowrap text-center">退社日</p></th>
						<th scope="col"><p class="text-nowrap text-center">　　　　備考　　　　</p></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="emp : ${empList}">
						<td align="center"><a class="btn btn-primary"
							th:href="@{'/empDetail/' + ${emp.employee_id}}">詳細</a></td>
                        <td align="left" th:text="${emp.employee_cd}"></td>
                        <td align="left" th:text="${emp.employee_name1_last}"></td>
                        <td align="left" th:text="${emp.employee_name1_first}"></td>
                        <td align="left" th:text="${emp.organization_name}"></td>
                        <td align="left" th:text="${emp.employeeattribute_name}"></td>
                        <td align="left" th:text="${emp.mail}"></td>
                        <td align="center" th:text="${emp.gender_kbn}"></td>
                        <td align="center"
                            th:text="${#dates.format(emp.joined_date, 'yyyy/MM/dd')}"></td>
                        <td align="center"
                            th:text="${#dates.format(emp.leave_date, 'yyyy/MM/dd')}"></td>
                        <td align="left" th:text="${emp.biko}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>