<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PositionDetail</title>
</head>
<body>
	<div th:fragment="positionDetail_contents">
		<div class="col-xl-6">

			<div class="page-header">
				<h3>役職マスタ詳細</h3>
			</div>
			<!-- 役職マスタ詳細画面の結果表示 -->
			<label class="text-danger" th:text="${result}"></label>
			<form method="post" th:action="@{/positionDetail}"
				th:object="${inputPositionForm}">
				<table class="table table-bordered table-hover table-sm">
					<!-- 役職CD（入力不可） -->
					<tr>
						<th class="table-info">役職CD</th>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" th:field="*{position_cd}"
									readonly="readonly" />
							</div>
						</td>
					</tr>
					<!-- 役職名 -->
                    <tr>
                        <th class="table-info">役職名<BR>
                        <img th:src="@{/image/required.png}"></th>
                        <td>
                            <div class="form-group"
                                th:classappend="${#fields.hasErrors('position_name')} ? 'has-error'">
                                <input type="text" class="form-control"
                                    th:field="*{position_name}" autofocus/> <span
                                    class="text-danger"
                                    th:if="${#fields.hasErrors('position_name')}"
                                    th:errors="*{position_name}">
                                    position_name error </span>
                            </div>
                        </td>
                    </tr>
                    <!-- 開始年月 -->
                    <tr>
                        <th class="table-info">開始年月<BR>
                        <img th:src="@{/image/required.png}"></th>
                        <td>
                            <div class="form-group"
                                th:classappend="${#fields.hasErrors('start_yearmonth')} ? 'has-error'">
                                <input type="text" class="form-control"
                                    th:field="*{start_yearmonth}"
                                    placeholder="YYYYMM" /> <span
                                    class="text-danger"
                                    th:if="${#fields.hasErrors('start_yearmonth')}"
                                    th:errors="*{start_yearmonth}">
                                    start_yearmonth error </span>
                            </div>
                        </td>
                    </tr>
                    <!-- 最終年月 -->
                    <tr>
                        <th class="table-info">最終年月</th>
                        <td>
                            <div class="form-group"
                                th:classappend="${#fields.hasErrors('end_yearmonth')} ? 'has-error'">
                                <input type="text" class="form-control"
                                    th:field="*{end_yearmonth}"
                                    placeholder="YYYYMM" /> <span
                                    class="text-danger"
                                    th:if="${#fields.hasErrors('end_yearmonth')}"
                                    th:errors="*{end_yearmonth}">
                                    end_yearmonth error </span>
                            </div>
                        </td>
                    </tr>
                    <!-- 備考 -->
					<tr>
						<th class="table-info">備考</th>
						<td>
							<div class="form-group"
							    th:classappend="${#fields.hasErrors('biko')} ? 'has-error'">
								<input type="text" class="form-control"
									th:field="*{biko}" /> <span class="text-danger"
									th:if="${#fields.hasErrors('biko')}"
									th:errors="*{biko}"> biko error </span>
							</div>
						</td>
					</tr>
				</table>

				<!-- 戻るボタン -->
				<button class="btn btn-lg btn-primary" type="submit" name="back">戻る</button>
				<!-- 更新ボタン -->
				<button class="btn btn-lg btn-danger float-right" type="button"
					data-toggle="modal" data-target="#Modalupdate"
					sec:authorize="hasRole('ADMIN')">更新</button>
				<!-- 削除ボタン -->
				<button class="btn btn-lg btn-danger float-right" type="button"
					data-toggle="modal" data-target="#Modaldelete"
					sec:authorize="hasRole('ADMIN')">削除</button>
				<!-- 更新Modal -->
				<div class="modal" data-backdrop="static" data-keyboard="false"
					id="Modalupdate" tabindex="-1" role="dialog"
					aria-labelledby="ModalUpdateTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-sm"
						role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h6 class="modal-title" id="ModalUpdateTitle">確認</h6>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">更新してもよろしいでしょうか？</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-lg btn-primary"
									data-dismiss="modal">戻る</button>
								<button type="submit" name="update"
									class="btn btn-lg btn-danger">実行</button>
							</div>
						</div>
					</div>
				</div>
				<!-- 削除Modal -->
				<div class="modal" data-backdrop="static" data-keyboard="false"
					id="Modaldelete" tabindex="-1" role="dialog"
					aria-labelledby="ModalDeleteTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-sm"
						role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h6 class="modal-title" id="ModalDeleteTitle">確認</h6>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">削除してもよろしいでしょうか？</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-lg btn-primary"
									data-dismiss="modal">戻る</button>
								<button type="submit" name="delete"
									class="btn btn-lg btn-danger">実行</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>