<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PositionList</title>
</head>
<body>
	<div th:fragment="positionList_contents">
		<div class="page-header">
			<h3>役職マスタ一覧</h3>
		</div>
		<div class="container-fluid border bg-light">
			<form method="post" th:action="@{/positionList}"
				th:object="${selectPositionForm}" id="reset-area">
				<div class="row">
					<div class="col-sm-2">
						役職名<input type="search" class="form-control reset-field" autofocus
							th:field="*{position_name}" />
					</div>
                    <div class="col-sm-2">
                        開始年月<input type="search" class="form-control reset-field"
                            th:field="*{start_yearmonth}"
                            placeholder="YYYYMM" inputmode="numeric" />
                    </div>
                    <div class="col-sm-2">
                        最終年月<input type="search" class="form-control reset-field"
                            th:field="*{end_yearmonth}"
                            placeholder="YYYYMM" inputmode="numeric" />
                    </div>
                    <div class="col-sm-2">
						備考<input type="search" class="form-control reset-field" th:field="*{biko}" />
					</div>
                    <div class="col-sm-4">
                        <div class="float-right">
                            <!-- 検索条件のクリア処理 portal.jsに処理を記載 -->
                            <button type="button" id="resetBtn"
                                name="resetBtn"
                                class="btn btn-primary btn-lg">クリア</button>
                            <!-- 検索実行 -->
                            <button type="submit" name="selectby"
                                class="btn btn-primary btn-lg">検索</button>
                        </div>
                    </div>
                </div>
			</form>
		</div>
        <div class="col">
            <!-- 役職登録画面へのリンク -->
            <a class="btn btn-danger float-right" th:href="@{'/positionUpdate'}"
                sec:authorize="hasRole('ADMIN')">新規登録</a>
        </div>
        <!-- 役職一覧の件数 -->
        <label th:text=" '合計：' + ${positionListCount} + '件' "></label>
        <!-- 更新・削除処理の結果表示用 -->
        <label class="text-danger" th:text="${result}">結果表示</label><br />
        <div class="table-responsive">
			<table
				class="table table-bordered table-hover table-striped table-sm">

				<thead>
					<tr class="table-info">
						<th scope="col"></th>
						<th scope="col"><p class="text-nowrap text-center">役職CD</p></th>
						<th scope="col"><p class="text-nowrap text-center">役職名</p></th>
						<th scope="col"><p class="text-nowrap text-center">開始年月</p></th>
						<th scope="col"><p class="text-nowrap text-center">最終年月</p></th>
						<th scope="col"><p class="text-nowrap text-center">　　　　　備考　　　　　</p></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="position : ${positionList}">
						<td align="center"><a class="btn btn-primary"
							th:href="@{'/positionDetail/' + ${position.position_cd}}">詳細</a></td>
						<td align="left" th:text="${position.position_cd}"></td>
						<td align="left" th:text="${position.position_name}"></td>
						<td align="left" th:text="${position.start_yearmonth}"></td>
						<td align="left" th:text="${position.end_yearmonth}"></td>
						<td align="left" th:text="${position.biko}"></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
</body>
</html>