<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace="com.portal.z.login.domain.repository.LoginMapper">
    <!-- マッピング定義 -->
    <resultMap type="com.portal.z.common.domain.model.Role" id="role">
        <id     column="role_id"          property="role_id" />
        <result column="role_name"        property="role_name" />    
    </resultMap>
    
    <!-- 権限検索 -->
    <select id="selectMany" parameterType="string" resultType="com.portal.z.common.domain.model.Role">
        select
           C.role_id
          ,COALESCE(C.role_name,'NOTHING') as role_name
        from
          zm001_user as A
          left join zm003_userrole as B
            on A.USER_ID = B.USER_ID
          left join zm002_role as C
            on B.ROLE_ID = C.ROLE_ID
        where
          A.user_id = #{user_id}
    </select>
</mapper>