<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portal.b.common.domain.repository.CareerMapper">
	<!-- マッピング定義 -->
	<resultMap type="com.portal.b.common.domain.model.Career"
        id="career">
        <id column="employee_id" property="employee_id" />
        <result column="employee_cd" property="employee_cd" />
        <result column="employee_name1_last" property="employee_name1_last" />
        <result column="employee_name1_first" property="employee_name1_first" />
        <result column="certification_no" property="certification_no" />
        <result column="disp_order" property="disp_order" />
        <result column="start_yearmonth" property="start_yearmonth" />
        <result column="end_yearmonth" property="end_yearmonth" />
        <result column="business_content" property="business_content" />
        <result column="biko" property="biko" />
        <result column="technology_Lang" property="technology_Lang" />
        <result column="technology_OS" property="technology_OS" />
        <result column="technology_DB" property="technology_DB" />
        <result column="process_name" property="process_name" />
        <result column="process_name_short" property="process_name_short" />
        <result column="update_date" property="update_date" />
    </resultMap>
    
    <!-- １件insert -->
    <insert id="insertOne" parameterType="com.portal.b.common.domain.model.Career">
        insert into
          bt003_career (
           employee_id
          ,certification_no
          ,disp_order
          ,start_yearmonth
          ,end_yearmonth
          ,business_content
          ,biko
          ,insert_user
          ,insert_date
          ,update_user
          ,update_date
          )
        values (
           #{employee_id}
          ,cast(#{certification_no} as integer)
          ,cast(#{disp_order} as integer)
          ,#{start_yearmonth}
          ,#{end_yearmonth}
          ,#{business_content}
          ,#{biko}
          ,#{insert_user}
          ,NOW()
          ,#{insert_user}
          ,NOW()
          )
    </insert>
    
    <!-- １件検索 -->
    <select id="selectOne" parameterType="string" resultMap="career">
        select
           a.employee_id
          ,a.certification_no
          ,a.disp_order
          ,a.start_yearmonth
          ,a.end_yearmonth
          ,a.business_content
          ,a.biko
        from
          bt003_career a
        where 
              a.employee_id      = #{employee_id}
          and a.certification_no = cast(#{certification_no} as integer)
    </select>

    <!-- １件更新 -->
    <update id="updateOne" parameterType="com.portal.b.common.domain.model.Career">
        update
          bt003_career
        set
           disp_order       = cast(#{disp_order} as integer)
          ,start_yearmonth  = #{start_yearmonth}
          ,end_yearmonth    = #{end_yearmonth}
          ,business_content = #{business_content}
          ,biko             = #{biko}
          ,update_user      = #{update_user}
          ,update_date      = NOW()
        where employee_id      = #{employee_id}
          and certification_no = cast(#{certification_no} as integer)
    </update>
    
    <!-- １件削除 -->
    <delete id="deleteOne" parameterType="string">
        delete from bt003_career
        where employee_id      = #{employee_id}
          and certification_no = cast(#{certification_no} as integer)
    </delete>
    
    <!-- 条件検索 -->
    <select id="selectBy1" parameterType="string" resultMap="career">
        select
           a.employee_id
          ,a.employee_cd
          ,a.employee_name1_last
          ,a.employee_name1_first
          ,b.certification_no
          ,b.disp_order
          ,b.start_yearmonth
          ,b.end_yearmonth
          ,b.business_content
          ,b.biko
          ,b.update_date
          ,c.technology_Lang    --技術区分（開発言語）
          ,c.technology_OS      --技術区分（OS）
          ,c.technology_DB      --技術区分（DB）
          ,d.process_name       --工程名
          ,d.process_name_short --工程名略
        from
          am005_employee a
          inner join bt003_career b
            on a.employee_id = b.employee_id
          left join (
            select 
               a.employee_id 
              ,a.certification_no 
              ,string_agg(
                 case b.technology_kbn 
                   when '01' then b.technology_name --技術区分（開発言語）
                   else           null
                 end,',' order by b.disp_order,b.technology_name) as technology_Lang
              ,string_agg(
                 case b.technology_kbn 
                   when '02' then b.technology_name --技術区分（OS）
                   else           null
                 end,',' order by b.disp_order,b.technology_name) as technology_OS
              ,string_agg(
                 case b.technology_kbn 
                   when '03' then b.technology_name --技術区分（DB）
                   else           null
                 end,',' order by b.disp_order,b.technology_name) as technology_DB
            from 
              bt004_careertechnology a
              left join bm002_technology b
                on a.technology_id = b.technology_id
            where a.employee_id = #{employee_id}
            group by 
               a.employee_id 
              ,a.certification_no 
          ) c
            on b.employee_id      = c.employee_id
           and b.certification_no = c.certification_no
          left join (
            select 
              a.employee_id
             ,a.certification_no
             --工程
             ,string_agg(b.process_name ,',' order by b.disp_order,b.process_name) as process_name
             ,string_agg(b.process_name_short ,',' order by b.disp_order,b.process_name_short) as process_name_short
            from 
              bt006_careerprocess a
              left join bm004_process b
                on a.process_id = b.process_id
            where a.employee_id = #{employee_id}
            group by 
               a.employee_id 
              ,a.certification_no
          ) d
            on b.employee_id      = d.employee_id
           and b.certification_no = d.certification_no
        where
              a.employee_id                    = #{employee_id}
          and COALESCE(b.business_content ,'') like CONCAT('%' , #{business_content} , '%')
          and COALESCE(b.biko,'')              like CONCAT('%' , #{biko} , '%')
        order by
          b.disp_order
         ,b.start_yearmonth
         ,b.end_yearmonth
    </select>

    <!-- 条件検索 -->
    <select id="selectBy2" parameterType="string" resultMap="career">
        select
           nextval('career_seq') as certification_no
    </select>
    
    <!-- 条件検索 -->
    <select id="selectBy3" parameterType="string" resultMap="career">
        select
           a.employee_id
          ,a.certification_no
          ,a.disp_order
          ,a.start_yearmonth
          ,a.end_yearmonth
          ,a.business_content
          ,a.biko
        from
          bt003_career a
        where 
          a.employee_id = #{employee_id}
        order by
          a.certification_no
    </select>
</mapper>