.sidebar {
    /* background-color: #F4F5F7; */
}

.main {
	/* 必要に応じて追記 */
}

.btn {
  margin-left:  2px;
  margin-right: 2px;    /* 詳細画面での削除ボタンと更新ボタンの間の間隔 */
}

.nav-link
{
  margin-top:    2px;
  margin-bottom: 2px;    /* サードバーのリンク枠線の表示間隔 */
}