<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.portal.z.common.domain.repository.UserMapper">
	<!-- マッピング定義 -->
	<resultMap type="com.portal.z.common.domain.model.User"
		id="user">
		<id column="user_id" property="user_id" />
		<result column="user_due_date" property="user_due_date" />
		<result column="password" property="password" />
		<result column="pass_update" property="pass_update" />
		<result column="login_miss_times" property="login_miss_times" />
		<result column="lock_flg" property="lock_flg" />
		<result column="enabled_flg" property="enabled_flg" />
	</resultMap>

	<!-- カウント -->
	<select id="count" resultType="_int">
		select count(*) from zm001_user
	</select>

    <!-- １件insert -->
    <insert id="insertOne" parameterType="com.portal.z.common.domain.model.User">
        insert into
          zm001_user (
           user_id
          ,user_due_date
          ,password
          ,pass_update
          <!-- login_miss_times　は　初期値を使う -->
          ,lock_flg
          ,enabled_flg
          ,insert_user
          ,insert_date
          ,update_user
          ,update_date
          )
        values (
           #{user_id}
          ,#{user_due_date}
          ,#{password}
          ,#{pass_update}
          <!-- login_miss_times　は　初期値を使う -->
          ,#{lock_flg}
          ,#{enabled_flg}
          ,#{insert_user}
          ,NOW()
          ,NULL
          ,NULL
          )
    </insert>

    <!-- １件検索 -->
    <select id="selectOne" parameterType="string" resultType="com.portal.z.common.domain.model.User">
        select
           user_id
          ,user_due_date
          ,password
          ,pass_update
          ,login_miss_times
          ,lock_flg
          ,enabled_flg
          ,insert_user
          ,insert_date
          ,update_user
          ,update_date
        from
          zm001_user
        where
          user_id = #{user_id}
    </select>

    <!-- 全件検索 -->
    <select id="selectMany" resultMap="user">
        select
           user_id
          ,user_due_date
          ,password
          ,pass_update
          ,login_miss_times
          ,lock_flg
          ,enabled_flg
          ,insert_user
          ,insert_date
          ,update_user
          ,update_date
        from
          zm001_user
        order by
          user_id
    </select>

    <!-- １件更新 -->
    <update id="updateOne" parameterType="com.portal.z.common.domain.model.User">
        update
          zm001_user
        set
           user_due_date    = #{user_due_date}
          ,password         = #{password}
          ,pass_update      = #{pass_update}
          ,login_miss_times = #{login_miss_times}
          ,lock_flg         = #{lock_flg}
          ,enabled_flg      = #{enabled_flg}
          ,update_user      = #{update_user}
          ,update_date      = NOW()
        where
          user_id           = #{user_id}
    </update>

    <!-- １件削除 -->
    <delete id="deleteOne" parameterType="string">
        delete from zm001_user where user_id = #{user_id}
    </delete>
    
    <!-- １件更新 -->
    <update id="updateLockflg" parameterType="com.portal.z.common.domain.model.User">
        update
          zm001_user
        set
           login_miss_times = #{login_miss_times}
          ,lock_flg         = #{lock_flg}
          ,update_user      = #{update_user}
          ,update_date      = NOW()
        where
          user_id           = #{user_id}
    </update>
    
        <!-- １件更新 -->
    <update id="updatePassupdate" parameterType="com.portal.z.common.domain.model.User">
        update
          zm001_user
        set
           pass_update = #{pass_update}
          ,update_user = #{update_user}
          ,update_date = NOW()
        where
          user_id      = #{user_id}
    </update>
    
        <!-- 条件検索 -->
    <select id="selectBy" parameterType="string" resultMap="user">
    <![CDATA[
        select
           user_id
          ,user_due_date
          ,password
          ,pass_update
          ,login_miss_times
          ,lock_flg
          ,enabled_flg
          ,insert_user
          ,insert_date
          ,update_user
          ,update_date
        from
          zm001_user
        where user_id like CONCAT(#{user_id} , '%')
        and TO_CHAR(user_due_date,'YYYYMMDD') >= #{user_due_date_from}
        and TO_CHAR(user_due_date,'YYYYMMDD') <= #{user_due_date_to}
        order by
          user_id
    ]]>
    </select>
    
</mapper>