<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Contact</title>  
</head>
<body>
    <div th:fragment="contact_contents">
        <div class="page-header">
            <h3>お問い合わせ</h3>
        </div>
        <div class="container"></div>
        <div>
            <p class="text-left">以下を入力して送信ボタンをクリックしてください。（＊は入力必須です。）</p>
            <!-- 送信処理の結果表示用 -->
            <label class="text-danger" th:text="${result}">結果表示</label><br />
            <form method="post" th:action="@{/contact}"
                th:object="${contactForm}">
                <div class="form-group"
                    th:classappend="${#fields.hasErrors('contact_name')} ? 'has-error'">
                    <div class="col-sm-4">
                        ユーザID<input type="text" class="form-control"
                            th:field="*{contact_name}"
                            readonly="readonly" /> <span
                            class="text-danger"
                            th:if="${#fields.hasErrors('contact_name')}"
                            th:errors="*{contact_name}"> name
                            error </span>
                    </div>
                </div>
                <div class="form-group"
                    th:classappend="${#fields.hasErrors('contact_email')} ? 'has-error'">
                    <div class="col-sm-4">
                        メールアドレス＊<input type="email" class="form-control"
                            th:field="*{contact_email}" /> <span
                            class="text-danger"
                            th:if="${#fields.hasErrors('contact_email')}"
                            th:errors="*{contact_email}"> name
                            error </span>
                    </div>
                </div>
                <div class="form-group"
                    th:classappend="${#fields.hasErrors('contact_message')} ? 'has-error'">
                    <div class="col-sm-7">
                        お問い合わせ内容
                        <textarea class="form-control"
                            th:field="*{contact_message}" rows="5" autofocus></textarea>
                        <span class="text-danger"
                            th:if="${#fields.hasErrors('contact_message')}"
                            th:errors="*{contact_message}"> name
                            error </span>
                    </div>
                </div>
                <!-- 送信ボタン -->
                <div class="text-center">
                    <button class="btn btn-lg btn-primary btn-lg"
                        type="button" data-toggle="modal"
                        data-target="#Modalsendmail">送信</button>
                </div>
                <!-- 送信Modal -->
                <div class="modal" data-backdrop="static"
                    data-keyboard="false" id="Modalsendmail"
                    tabindex="-1" role="dialog"
                    aria-labelledby="ModalsendmailTitle"
                    aria-hidden="true">
                    <div
                        class="modal-dialog modal-dialog-centered modal-sm"
                        role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title"
                                    id="ModalsendmailTitle">確認</h6>
                                <button type="button" class="close"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">この内容で送信してもよろしいでしょうか？</div>
                            <div class="modal-footer">
                                <button type="button"
                                    class="btn btn-lg btn-primary"
                                    data-dismiss="modal">戻る</button>
                                <button type="submit" name="sendmail"
                                    class="btn btn-lg btn-danger">実行</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>