<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrapの設定 -->
    
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!-- portalのJSファイル -->
    <script th:src="@{/js/portal.js}"></script>
    <script th:src="@{/js/weather.js}"></script>
    <!-- CSSの読込 -->
    <link th:href="@{/css/portal.css}" rel="stylesheet"></link>
    <link th:href="@{/css/jpn.css}" rel="stylesheet"></link>
    
    <title>HomeLayout</title>
</head>
<body>
    <!-- ===== ヘッダー（ナビゲーションバー） =====  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info p-0">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{'/home'}">ポータルサイト</a>
        </div>

        <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#menu"
            aria-controls="menu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link"
                    th:href="@{'/home'}">ホーム<span class="sr-only">(current)</span></a>
                </li>
                    
                <li class="nav-item dropdown active"><a
                    class="nav-link dropdown-toggle"
                    sec:authorize="hasRole('ADMIN')" href="#"
                    id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">スキル管理システム</a>

                    <div class="dropdown-menu"
                        aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                            th:href="@{'/skillList'}">スキル一覧</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/home'}">要素</a>
                    </div></li>

                <li class="nav-item dropdown active"><a
                    class="nav-link dropdown-toggle"
                    sec:authorize="hasRole('ADMIN')" href="#"
                    id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">ポータル</a>

                    <div class="dropdown-menu"
                        aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                            th:href="@{'/userList'}">ユーザマスタ</a>
                    </div></li>

                <li class="nav-item dropdown active"><a
                    class="nav-link dropdown-toggle"
                    sec:authorize="hasRole('ADMIN')" href="#"
                    id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">共通マスタ</a>

                    <div class="dropdown-menu"
                        aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                            th:href="@{'/companyList'}">会社マスタ</a> <a
                            class="dropdown-item"
                            th:href="@{'/organizationList'}">組織マスタ</a> <a
                            class="dropdown-item"
                            th:href="@{'/positionList'}">役職マスタ</a> <a
                            class="dropdown-item"
                            th:href="@{'/empList'}">社員マスタ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{'/envList'}">環境マスタ</a>
                    </div></li>
            </ul>
            <div class="text-white">
                ユーザ：<span sec:authentication="name"></span>
            </div>
            <form method="post" th:action="@{/logout}">
                <button class="btn text-white" type="submit">ログアウト</button>
            </form>
        </div>

    </nav>

    <!-- ===== ボディー  =====  -->
    <div class="container-fluid">
        <!-- 表示するhtmlに記載した値（th:fragment="home_contents"など）を参照します -->
        <div th:include="__${contents}__"></div>
    </div>
    <!-- =====　 フッター　=====  -->
    <div th:insert="z/footer :: footer"></div>
</body>
</html>