<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8"></meta>   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrapの設定 -->
    
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>




   
    <title>Home</title>
</head>
<body>
    <!-- ポイント：th:fragment -->
    <div th:fragment="home_contents">
        <div class="page-header">
            <h3>ホーム</h3>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col-sm-9">
                    <article>
                        <h2>会社からのお知らせ</h2>
                        <ul>
                            <li>勤怠の提出について</li>
                            <li>健康診断の予約について</li>
                        </ul>

                        <hr>

                        <h2>社員教育</h2>
                        <ul>
                            <li>社員教育コンテンツへのリンク</li>
                        </ul>

                        <hr>

                    </article>

                    <article>
                        <h2>就業規則など</h2>
                        <ul>
                            <li>交通費精算について</li>
                            <li>セキュリティポリシーについて</li>
                        </ul>

                    </article>

                </div>
                <div class="col-sm-3">
                    <div class="container-fluid border bg-light">
                        <h4>
                            <label th:text="${today}"></label>
                        </h4>
                        <h5>本日の名古屋の天気予報</h5>
                        <img id="forecastImage" src="">
                        <div id="forecastDetail"></div>
                        <BR>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">最高℃</th>
                                    <th scope="col">最低℃</th>
                                    <th scope="col">午前</th>
                                    <th scope="col">午後</th>
                                    <th scope="col">夜間</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <div class="text-danger"
                                            id="forecastTempMax"></div>
                                    </th>
                                    <td><div class="text-primary"
                                            id="forecastTempMin"></div>
                                    </td>
                                    <td><div
                                            id="forecastChanceOfRainAM"></div></td>
                                    <td><div
                                            id="forecastChanceOfRainPM"></div></td>
                                    <td><div
                                            id="forecastChanceOfRainNT"></div></td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- 天気予報の表示 ※下のDIVの外に出すと無効になります -->
        <script th:inline="javascript" nonce="c3R1ZHlwb3J0YWwyMDIw">
            $(document).ready(function(){
                getWeatherImageUrl();
                getWeatherDetail();
                getWeatherTempMax();
                getWeatherTempMin();
                getWeatherChanceOfRainAM();
                getWeatherChanceOfRainPM();
                getWeatherChanceOfRainNT();
            });
        </script>
    </div>
</body>
</html>