<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>
</head>
<body>
    <!-- ポイント：th:fragment -->
    <div th:fragment="home_contents">
        <div class="page-header">
            <h3>ホーム</h3>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col-sm-9">
                    <article>
                        <h4>スキル管理システム</h4>
                        <ul>
                            スキル管理システムはこちらから使用できます。
                                <a  
                                    class="btn btn-success btn-block btn-lg"
                                    sec:authorize="!hasAnyRole('ADMIN')"
                                    th:href="@{'/empPerson'}"
                                    role="button">自分のスキル情報を見る</a>
                        </ul>
                    </article>
                </div>
                <div class="col-sm-3">
                    <div class="container-fluid border bg-light">
                        <label th:text="${today}"></label>
                    </div>
                    <div class="container-fluid border bg-light">
                        <p>
                            天気予報（岐阜 <label id="publicTimeFormatted"></label>）
                        </p>
                        <div class="row">
                            <div class="col-sm-4">
                                <img id="forecastImage" src="">
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="text-danger"
                                        id="forecastTempMax"></div>
                                    <div class="text-danger">℃</div>
                                    <div class="text-primary"
                                        id="forecastTempMin"></div>
                                    <div class="text-primary">℃</div>
                                </div>
                                <div class="row">
                                    午前
                                    <div id="forecastChanceOfRainAM"></div>
                                    午後
                                    <div id="forecastChanceOfRainPM"></div>
                                    夜間
                                    <div id="forecastChanceOfRainNT"></div>
                                </div>
                            </div>
                        </div>
                        <p>
                            今日の天気：<label id="forecastDetail"></label>
                        </p>
                    </div>
                    <!-- コンテンツを増やす場合はここに追加する。 -->
                    <div class="card" sec:authorize="!hasAnyRole('ADMIN')">
                        <div class="card-header text-center">お問い合わせ</div>
                        <div class="card-body">
                            <p class="card-text">
                                ご意見やご要望、不具合などがありましたら、こちらからお知らせ下さい。
                                <a
                                    class="btn btn-success btn-block btn-lg"
                                    th:href="@{'/contact'}"
                                    role="button">問い合わせる</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 天気予報の表示 ※下のDIVの外に出すと無効になります -->
        <script th:inline="javascript" nonce="c3R1ZHlwb3J0YWwyMDIw">
									$(document).ready(function() {
										getWeatherImageUrl();
										getWeatherDetail();
										getWeatherTempMax();
										getWeatherTempMin();
										getWeatherChanceOfRainAM();
										getWeatherChanceOfRainPM();
										getWeatherChanceOfRainNT();
										getWeatherTime();
									});
								</script>
    </div>
</body>
</html>