<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrapの設定 -->

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>





    <title>パスワード変更</title>
</head>
<body class="text-center">
    <h3>パスワードの変更</h3>
    <br>
    <p>パスワードの有効期限が切れています。</p>
    <p>パスワードを変更してください</p>
    <form method="post" th:action="@{/password/change}"
        th:object="${passwordForm}">

        <!-- パスワード変更 -->
        <div class="form-group"
            th:classappend="${#fields.hasErrors('newPassword')} ? 'has-error'">
            新しいパスワード<BR> <input type="password"
                class="form-control-lg" th:field="*{newPassword}" /> <BR>
            <span class="text-danger"
                th:if="${#fields.hasErrors('newPassword')}"
                th:errors="*{newPassword}"> newPassword error </span>
        </div>
        <div class="form-group"
            th:classappend="${#fields.hasErrors('confirmNewPassword')} ? 'has-error'">
            新しいパスワード（再入力）<BR> <input type="password"
                class="form-control-lg" th:field="*{confirmNewPassword}" />
            <BR> <span class="text-danger"
                th:if="${#fields.hasErrors('confirmNewPassword')}"
                th:errors="*{confirmNewPassword}">
                confirmNewPassword error </span>
        </div>
        <!-- パスワード変更 -->
        <button class="btn btn-danger btn-lg" type="submit">パスワード変更</button>
    </form>
    <!-- パスワード変更画面の結果表示 -->
    <label class="text-info" th:text="${result}"></label>
</body>
</html>