<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrapの設定 -->

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>




    <title>パスワード変更</title>
</head>
<body  class="text-center">
    <h3>パスワードの変更</h3>
    <br>
    <p>パスワードの有効期限が切れています。</p>
    <p>パスワードを変更してください</p>
    <form method="post" th:action="@{/password/change}" th:object="${passwordForm}">

      <!-- パスワード変更 -->
      <div class="form-group">
        <label>新しいパスワード</label><br>
        <input type="password" th:field="*{password}" class="form-control-lg" />
      </div>

      <!-- パスワード変更 -->
      <button class="btn btn-primary btn-lg" type="submit">パスワード変更</button>

    </form>
  </body>
</html>