<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrapの設定 -->

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <!-- CSSの読込 -->
    <link th:href="@{/css/home.css}" rel="stylesheet"></link>


    <title>パスワード再発行</title>
</head>
<body class="text-center">

    <h3>パスワード再発行</h3>
    <br>
    <p>パスワード再発行を行います。</p>

    <form method="post" th:action="@{/resetpassword}"
        th:object="${resetpasswordForm}">
        <!-- パスワード再発行 -->
        <div class="form-group">
            <input type="hidden" th:field="*{token}" />
        </div>
        <div class="form-group">
            ユーザID<BR> <input type="text" class="form-control-lg"
                th:field="*{user_id}" readonly="readonly" />
        </div>
        <div class="form-group"
            th:classappend="${#fields.hasErrors('secret')} ? 'has-error'">
            仮パスワード<BR> <input type="text" class="form-control-lg"
                th:field="*{secret}" /> <BR> <span
                class="text-danger"
                th:if="${#fields.hasErrors('secret')}"
                th:errors="*{secret}"> secret error </span>
        </div>
        <div class="form-group"
            th:classappend="${#fields.hasErrors('newPassword')} ? 'has-error'">
            新しいパスワード<BR> <input type="password" class="form-control-lg"
                th:field="*{newPassword}" /> <BR> <span
                class="text-danger"
                th:if="${#fields.hasErrors('newPassword')}"
                th:errors="*{newPassword}"> newPassword error </span>
        </div>
        <div class="form-group"
            th:classappend="${#fields.hasErrors('confirmNewPassword')} ? 'has-error'">
            新しいパスワード（再入力）<BR> <input type="password"
                class="form-control-lg" th:field="*{confirmNewPassword}" />
            <BR> <span class="text-danger"
                th:if="${#fields.hasErrors('confirmNewPassword')}"
                th:errors="*{confirmNewPassword}">
                confirmNewPassword error </span>
        </div>
        <!-- パスワード再発行 -->
        <button type="submit" class="btn btn-danger btn-lg">パスワード再発行</button>
    </form>
    <!-- パスワード再発行画面の結果表示 -->
    <label class="text-info" th:text="${result}"></label>
</body>
</html>