<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrapの設定 -->
    
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    
    <!-- CSSの読込 -->
    <link th:href="@{/css/home.css}" rel="stylesheet"></link>
    
    
    <title>UserDetail</title>
</head>
<body>
    <div th:fragment="userDetail_contents">
            <div class="col-sm-5">
                <div class="page-header">
                    <h3>ユーザー詳細</h3>
                </div>
                <form method="post" th:action="@{/userDetail}" th:object="${inputForm}">
                    <table class="table table-bordered table-hover table-sm">
                        <!-- ユーザーID（入力不可） -->
                        <tr>
                            <th class="active table-info">ユーザID</th>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control"
                                        th:field="*{user_id}"
                                        readonly="readonly" />
                                </div>
                            </td>
                        </tr>
                       　　　　　　　　　　　　<!-- ユーザ有効期限 -->
                        <tr>
                            <th class="active table-info">ユーザ有効期限</th>
                            <td>
                                <div class="form-group"
                                    th:classappend="${#fields.hasErrors('user_due_date')} ? 'has-error'">
                                    <input type="text" class="form-control" placeholder="yyyy/MM/dd"
                                        th:field="*{user_due_date}" />
                                    <span class="text-danger"
                                        th:if="${#fields.hasErrors('user_due_date')}"
                                        th:errors="*{user_due_date}">
                                        user_due_date error
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <!-- パスワード -->
                        <tr>
                            <th class="active table-info">パスワード</th>
                            <td>
                                <div class="form-group"
                                    th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                                    <input type="text" class="form-control"
                                        th:field="*{password}" />
                                    <span class="text-danger"
                                        th:if="${#fields.hasErrors('password')}"
                                        th:errors="*{password}">
                                        password error
                                    </span>
                                </div>
                            </td>
                        </tr>
                                               　　　<!-- パスワード有効期限 -->
                        <tr>
                            <th class="active table-info">パスワード有効期限</th>
                            <td>
                                <div class="form-group"
                                    th:classappend="${#fields.hasErrors('pass_update')} ? 'has-error'">
                                    <input type="text" class="form-control" placeholder="yyyy/MM/dd"
                                        th:field="*{pass_update}" />
                                    <span class="text-danger"
                                        th:if="${#fields.hasErrors('pass_update')}"
                                        th:errors="*{pass_update}">
                                        pass_update error
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <!-- ログイン失敗回数 -->
                        <tr>
                            <th class="active table-info">ログイン失敗回数</th>
                            <td>
                                <div class="form-group"
                                    th:classappend="${#fields.hasErrors('login_miss_times')} ? 'has-error'">
                                    <input type="text" class="form-control"
                                        th:field="*{login_miss_times}" />
                                    <span class="text-danger"
                                        th:if="${#fields.hasErrors('login_miss_times')}"
                                        th:errors="*{login_miss_times}">
                                        login_miss_times error
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <!-- ロックフラグ -->
                        <tr>
                            <th class="active table-info">ロックフラグ</th>
                            <td>
                                <div class="form-group">
                                    <div th:each="item : ${radioLock}">
                                        <input type="radio" name="lock_flg"
                                            th:text="${item.key}"
                                            th:value="${item.value}"
                                            th:field="*{lock_flg}">
                                    </div>
                                    <span class="text-danger"
                                        th:if="${#fields.hasErrors('lock_flg')}"
                                        th:errors="*{lock_flg}">
                                        lock_flg error
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <!-- 有効フラグ -->
                        <tr>
                            <th class="active table-info">有効フラグ</th>
                            <td>
                                <div class="form-group">
                                    <div th:each="item : ${radioEnabled}">
                                        <input type="radio" name="enabled_flg"
                                            th:text="${item.key}"
                                            th:value="${item.value}"
                                            th:field="*{enabled_flg}">
                                    </div>
                                    <span class="text-danger"
                                        th:if="${#fields.hasErrors('enabled_flg')}"
                                        th:errors="*{enabled_flg}">
                                        enabled_flg error
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!-- 戻るボタン -->
                    <button class="btn btn-primary" type="submit" name="back">戻る</button>
                    <!-- 更新ボタン -->
                    <button class="btn btn-danger float-right" type="button" data-toggle="modal" data-target="#Modalupdate">更新</button>
                     <!-- 削除ボタン -->
                    <button class="btn btn-danger float-right" type="button" data-toggle="modal" data-target="#Modaldelete">削除</button>
  
     <!-- 更新Modal -->
     <div class="modal" data-backdrop="static" data-keyboard="false" id="Modalupdate" tabindex="-1" role="dialog" aria-labelledby="ModalUpdateTitle" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h6 class="modal-title" id="ModalUpdateTitle">確認</h6>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
更新してもよろしいでしょうか？
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-primary" data-dismiss="modal">戻る</button>
             <button type="submit" name="update" class="btn btn-danger">実行</button>
           </div>
         </div>
       </div>
    </div>
  
     <!-- 削除Modal -->
     <div class="modal" data-backdrop="static" data-keyboard="false" id="Modaldelete" tabindex="-1" role="dialog" aria-labelledby="ModalDeleteTitle" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h6 class="modal-title" id="ModalDeleteTitle">確認</h6>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
削除してもよろしいでしょうか？
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-primary" data-dismiss="modal">戻る</button>
             <button type="submit" name="delete" class="btn btn-danger">実行</button>
           </div>
         </div>
       </div>
    </div>

　　　　　　　　　　　　　　　　</form>
            </div>
        </div>
</body>
</html>