<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
      
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>UserList</title>  
</head>
<body>
    <div th:fragment="userList_contents">
        <div class="page-header">
            <h3>ユーザー一覧</h3>
        </div>
        <div class="container-fluid border bg-light">
            <form method="post" th:action="@{/userList}"
                th:object="${selectForm}" id="reset-area">
                <div class="row">
                    <div class="col-sm-2">
                        ユーザID<input type="search" class="form-control reset-field"
                            autofocus th:field="*{user_id}" />
                    </div>
                    <div class="col-sm-2">
                        ユーザ有効期限FROM<input type="date"
                            class="form-control reset-field"
                            th:field="*{user_due_date_from}" />
                    </div>
                    <div class="col-sm-2">
                        ユーザ有効期限TO<input type="date" class="form-control reset-field"
                            th:field="*{user_due_date_to}" />
                    </div>
                    <div class="col-sm-6 align-self-center float-right">
                        <div class="float-right">
                            <!-- 検索条件のクリア処理 portal.jsに処理を記載 -->
                            <button type="button" id = "resetBtn" name="resetBtn"
                                class="btn btn-primary btn-lg">クリア</button>
                            <!-- 検索実行 -->
                            <button type="submit" name="selectby"
                                class="btn btn-primary btn-lg">検索</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col">
            <!-- CSV出力用のリンク -->
            <a class="btn btn-primary" th:href="@{'/userList/csv'}">CSV出力</a>
            <!-- EXCEL出力用のリンク -->
            <a class="btn btn-primary" th:href="@{'/userList/excel'}">EXCEL出力</a>
            <!-- 帳票出力用のリンク -->
            <a class="btn btn-primary" th:href="@{'/userList/report'}">帳票出力</a>
            <!-- ユーザー登録画面へのリンク -->
            <a class="btn btn-danger float-right"
                th:href="@{'/userUpdate'}"
                sec:authorize="hasRole('ADMIN')">新規登録</a>

            <form method="post" enctype="multipart/form-data"
                th:action="@{/userList/excelUpload}">
                <input type="file" name="uploadfile" accept=".xlsx"
                    required /> <input class="btn btn-danger"
                    type="submit" name="excelUpload" value="一括登録" />
            </form>

        </div>

        <!-- ユーザー一覧の件数 -->
        <label th:text=" '合計：' + ${userListCount} + '件' "></label>
        <!-- 更新・削除処理の結果表示用 -->
        <label class="text-danger" th:text="${result}">結果表示</label>
        <div class="table-responsive">
            <table
                class="table table-bordered table-hover table-striped table-sm">

                <thead>
                    <tr class="table-info">
                        <th scope="col"></th>
                        <th scope="col"><p
                                class="text-nowrap text-center">ユーザID</p></th>
                        <th scope="col"><p
                                class="text-nowrap text-center">ユーザ有効期限</p></th>
                        <th scope="col"><p
                                class="text-nowrap text-center">パスワード有効期限</p></th>
                        <th scope="col"><p
                                class="text-nowrap text-center">ログイン失敗回数</p></th>
                        <th scope="col"><p
                                class="text-nowrap text-center">ロック状態</p></th>
                        <th scope="col"><p
                                class="text-nowrap text-center">社員CD</p></th>  
                        <th scope="col"><p
                                class="text-nowrap text-center">社員名</p></th>            
                        <th scope="col"><p
                                class="text-nowrap text-center">有効フラグ</p></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="user : ${userList}">
                        <td align="center"><a
                            class="btn btn-primary"
                            th:href="@{'/userDetail/' + ${user.user_id}}">詳細</a></td>
                        <td align="left" th:text="${user.user_id}"></td>
                        <td align="center"
                            th:text="${#dates.format(user.user_due_date, 'yyyy/MM/dd')}"></td>
                        <td align="center"
                            th:text="${#dates.format(user.pass_update, 'yyyy/MM/dd')}"></td>
                        <td align="Right"
                            th:text="${user.login_miss_times}"></td>
                        <td align="center"
                            th:text="${user.lock_flg} ?    'ロック' : 'アンロック'"></td>
                        <td align="left" th:text="${user.employee_cd}"></td>
                        <td align="left" th:text="${user.employee_name1_last}"></td>
                        <td align="center"
                            th:text="${user.enabled_flg} ? '有効' : '無効'"></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</body>
</html>