<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>UserUpdate</title>
</head>
<body>
    <div th:fragment="userUpdate_contents">
        <div class="col-xl-6">

            <div class="page-header">
                <h3>ユーザー登録</h3>
            </div>
            <!-- ユーザー登録画面の結果表示 -->
            <label class="text-danger" th:text="${result}"></label>
            <form method="post" th:action="@{/userUpdate}"
                th:object="${inputForm}">
                <table class="table table-bordered table-hover table-sm">
                    <!-- ユーザーIDの入力エリア -->
                    <tr>
                        <th class="active table-info">ユーザID<BR>
                        <img th:src="@{/image/required.png}"></th>
                        <td>
                            <div class="form-group"
                                th:classappend="${#fields.hasErrors('user_id')} ? 'has-error'">
                                <input type="text" class="form-control"
                                    th:field="*{user_id}"
                                    placeholder="英数記号(-か_)を入力してください" autofocus />
                                <span class="text-danger"
                                    th:if="${#fields.hasErrors('user_id')}"
                                    th:errors="*{user_id}">
                                    user_id error </span>
                            </div>
                        </td>
                    </tr>
                    <!-- ユーザ有効期限の入力エリア -->
                    <tr>
                        <th class="active table-info">ユーザ有効期限<BR>
                        <img th:src="@{/image/required.png}"></th>
                        <td>
                            <div class="form-group"
                                th:classappend="${#fields.hasErrors('user_due_date')} ? 'has-error'">
                                <input type="date" class="form-control"
                                    th:field="*{user_due_date}" /> <span
                                    class="text-danger"
                                    th:if="${#fields.hasErrors('user_due_date')}"
                                    th:errors="*{user_due_date}">
                                    user_due_date error </span>
                            </div>
                        </td>
                    </tr>
                    <!-- パスワード有効期限 -->
                    <tr>
                        <th class="table-info">パスワード有効期限</th>
                        <td>
                            <div class="form-group"
                                th:classappend="${#fields.hasErrors('pass_update')} ? 'has-error'">
                                <input type="date" class="form-control"
                                    th:field="*{pass_update}"
                                    readonly="readonly" /> <span
                                    class="text-danger"
                                    th:if="${#fields.hasErrors('pass_update')}"
                                    th:errors="*{pass_update}">
                                    pass_update error </span>
                            </div>
                        </td>
                    </tr>
                    <!-- ロックの入力エリア -->
                    <tr>
                        <th class="active table-info">ロック状態</th>
                        <td>
                            <div class="form-group">
                                <div th:each="item : ${radioLock}">
                                    <input type="radio" name="radioLock"
                                        th:text="${item.key}"
                                        th:value="${item.value}"
                                        th:field="*{lock_flg}">
                                </div>
                                <span class="text-danger"
                                    th:if="${#fields.hasErrors('lock_flg')}"
                                    th:errors="*{lock_flg}">
                                    lock_flg error </span>
                            </div>
                        </td>
                    </tr>
                    <!-- 社員IDの入力エリア -->
                    <tr>
                        <th class="active table-info">社員</th>
                        <td>
                            <div class="form-group"
                                th:classappend="${#fields.hasErrors('employee_id')} ? 'has-error'">
                                <select class="form-control"
                                    th:field="*{employee_id}">
                                    <option
                                        th:each="employeeList : ${employeeList}"
                                        th:value="${employeeList.employee_id}"
                                        th:text="${employeeList.employee_cd}+'   '+${employeeList.employee_name1_last}"></option>
                                </select> <span class="text-danger"
                                    th:if="${#fields.hasErrors('employee_id')}"
                                    th:errors="*{employee_id}">
                                    employee_id error </span>
                            </div>
                        </td>
                    </tr>
                    <!-- 有効フラグの入力エリア -->
                    <tr>
                        <th class="active table-info">有効フラグ</th>
                        <td>
                            <div class="form-group">
                                <div th:each="item : ${radioEnabled}">
                                    <input type="radio"
                                        name="radioEnabled"
                                        th:text="${item.key}"
                                        th:value="${item.value}"
                                        th:field="*{enabled_flg}">
                                </div>
                                <span class="text-danger"
                                    th:if="${#fields.hasErrors('enabled_flg')}"
                                    th:errors="*{enabled_flg}">
                                    enabled_flg error </span>
                            </div>
                        </td>
                    </tr>
                </table>

                <!-- 戻るボタン -->
                <button class="btn btn-lg btn-primary" type="submit"
                    name="back">戻る</button>
                <!-- 登録ボタン -->
                <button class="btn btn-lg btn-danger float-right"
                    type="button" data-toggle="modal"
                    data-target="#Modalinsert">登録</button>
                <!-- 登録Modal -->
                <div class="modal" data-backdrop="static"
                    data-keyboard="false" id="Modalinsert" tabindex="-1"
                    role="dialog" aria-labelledby="ModalInsertTitle"
                    aria-hidden="true">
                    <div
                        class="modal-dialog modal-dialog-centered modal-sm"
                        role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title"
                                    id="ModalInsertTitle">確認</h6>
                                <button type="button" class="close"
                                    data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">登録してもよろしいでしょうか？</div>
                            <div class="modal-footer">
                                <button type="button"
                                    class="btn btn-lg btn-primary"
                                    data-dismiss="modal">戻る</button>
                                <button type="submit" name="insert"
                                    class="btn btn-lg btn-danger">実行</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>